{% load static %}
{% load bootstrap5 %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}
    <title>{% block title %}Topoguide{% endblock %}</title>
</head>

<body>
    <div class="container">
        <div class="row pb-3">
            <header>
                Topoguide Assignment with SQLite<br>
                <img src="{% static 'images/topoguide.jpeg' %}" width=150px alt="logo"/>
            </header>
        </div>

        {% block content %}{% endblock %}

        <div class="row pt-5">
            <footer>
                <em>&copy; ISAE-SUPAERO</em>
            </footer>
        </div>
    </div>
</body>
</html>