{% extends 'base.html' %}
{% load bootstrap5 %} 

{% block title %}Itineraires List{% endblock title%}

{% block content %}

    <div class="row pb-3">
        <h1>Itineraires</h1>
    </div>

    <div class="clearfix">
        <div class="float-right pb-3">
            <form action="{% url 'itineraires:itineraires' %}" method="post" class="form">
                {% csrf_token %}


                <div class="mb-3">
                    {{ form }}
                </div>


            </form>
        </div>
    </div>


    {% for itineraire in itineraires %}
        <td><a href="{% url 'itineraires:sorties' itineraire.id %}"><h>Itineraire </h>{{ itineraire.id }}</a></td>
        
    {% endfor %}
                



{% endblock content %}