{% extends 'base.html' %}
{% load bootstrap5 %} 

{% block title %}Create New Sortie{% endblock title%}

{% block content %}


{% comment %} Creation de sortie {% endcomment %}
<form action="{% url 'itineraires:nouvelle_sortie' %}" method="post" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
      <button type="submit" class="btn btn-primary">Add</button>
      <a href="{% url 'itineraires:sorties' %}" class="btn btn-primary">Cancel</a>
    {% endbuttons %}
</form>



{% comment %} Modification de sortie {% endcomment %}
<form action="{% url 'itineraires:modif_sortie' form.instance.id %}" method="post" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
      <button type="submit" class="btn btn-primary">Update</button>
      <a href="{% url 'itineraires:sorties' %}" class="btn btn-primary">Cancel</a>
    {% endbuttons %}
</form>


{% endblock content %}


