{% extends 'base.html' %}
{% load bootstrap5 %} 

{% block title %}Sorties List{% endblock title%}

{% block content %}

    <div class="row pb-3">
        <h1>Sorties</h1>
    </div>




    {% for sortie in sorties %}
        <td><a href="{% url 'itineraires:sortie' sortie.id %}"><h>Sortie </h>{{ sortie.id }}</a></td>
        <td><a href="{% url 'itineraires:modif_sortie' sortie.id %}"><h>Modifier la Sortie </h>{{ sortie.id }}</a></td>
    {% endfor %}
                
<div class="row pt-3">
    <a class="btn btn-primary" href="{% url 'itineraires:nouvelle_sortie' %}">Créer nouvelle Sortie</a>
</div>
    


{% endblock content %}