{% extends 'base.html' %}

{% block title %}Sortie Details {{ sortie.id|truncatechars:10 }}' {% endblock title%}

{% block content %}

<div class="row pb-3">
    <h2>{{ sortie.id }} <small>by {{ sortie.utilisateur }}</small></h2>
</div>

<div class="row">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Date</th>
            <th>Durée(h)</th>
            <th>Météo</th>
            <th>Difficulté</th>
        </tr>
        </thead>
        <tbody>
        {% for sortie in sortie.all %}
            <tr>
                <td>{{ sortie.date }}</td>
                <td>{{ sortie.duree }}</td>
                <td>{{ sortie.meteo }}</td>
                <td>{{ sortie.difficulte }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<div class="row pt-3">
    <a class="btn btn-primary" href="{% url 'itineraires:sortie_details' %}">Back to Sorties list</a>
</div>

{% endblock content %}